{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Monitor{% endblock %}</h1>
{% endblock %}

{% block content %}
<li><a href="{{ url_for('workbench.index') }}">Main Page</a></li>
<li><a href="{{ url_for('workbench.indicator') }}">Indicator</a></li>
<br>
<hr>
<h1>Check the Data</h1>
<hr>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<form>
<label for="indiz">Choose Indiz:</label>
<select name="indiz" id="indiz">
  <script>
    let indizdata = JSON.parse('{{ indizdata|tojson }}');
    let ids = indizdata["ids"];
    let names = indizdata["names"];
    ids.forEach((id, index) => {
      console.log("An id: ", id);
      name = names[index];
      $("#indiz").append('<option value="' + id + '" id="chosen">' + name + '</option>')
    });
  </script>
</select>
<input type="submit" value="Submit" id="subm">
</form>

<script>
  $("form").on("submit", function (e) {
    var dataobject = $(this).serializeArray();
    var valueid = dataobject[0].value;
    $.post("{{ url_for('workbench.monitor') }}", { id: valueid, amount: 200 }, function (data, status) {
      console.log("Here comes the status:", status);
      $('table').html(data);
    })
    e.preventDefault();
  })
</script>

<table></table>

{% endblock %}